@using Microsoft.AspNetCore.Http;
@{
    var ad = Context.Request.Cookies["UserRole"];
}

<h4>Session kullanıcı Mail Adresi=@Context.Session.GetString("SessionMail")</h4>
<br />
<h4 style="Ad:@ad">Cookie Adı=@ad</h4>