@model IEnumerable<Barinak.Models.Kategori>

@{
    ViewData["Title"] = "KategoriList";
}
<h1>Kategori Listesi</h1>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayNameFor(model => model.KategoriAdi)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.KategoriAdi)</p>
                    <a class="btn btn-primary">@Html.DisplayFor(modelItem => item.KategoriAdi) Kategorisine Git</a>
                </div>
            </div>
        </div>
    }
</div>