@model Barinak.Models.UyeOl

@{
    ViewData["Title"] = "Index";
}

@if (TempData["msj"] is not null)
{
    <div class="text-danger">@TempData["msj"]</div>
}

@inject LanguageService language

<div class="clearfix">
    <h4 class="float-start">Giriş Yap</h4>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="GirisYap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label">@language.Getkey("Mail")</label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label">@language.Getkey("Sifre")</label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@language.Getkey("GirisYap")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
